<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/gouwuche.css" />
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div id="top">
					<div class="col-md-1 col-sm-1 col-xs-1"></div>
					<div class="col-md-3 col-sm-3 col-xs-12 logo">全球<span class="glyphicon glyphicon-globe"></span>代购&nbsp;<span style="font-size: 20px;">购物车</span></div>
					<div class="col-md-1 col-sm-1 col-xs-1"></div>
					<div class="col-md-7 col-sm-7 col-xs-12">
						<form class="navbar-form navbar-left">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="请输入商品名称">
							</div>
							<button type="submit" class="btn btn-default">搜索</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="submit" class="btn btn-default "><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;购物车</button>
						</form>
					</div>
					<div class="col-md-1 col-sm-1 col-xs-1"></div>
				</div>
			</div>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
						<a class="navbar-brand" href="#">全部分类</a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active">
								<a href="#">首页<span class="sr-only">(current)</span></a>
							</li>
							<li>
								<a href="#">今日限时购</a>
							</li>
							<li>
								<a href="#">每日上新</a>
							</li>
							<li>
								<a href="#">国际馆</a>
							</li>
							<li>
								<a href="#">全球旗舰</a>
							</li>
							<li>
								<a href="#">工厂店</a>
							</li>
							<li>
								<a href="#">品质奶粉</a>
							</li>
							<li>
								<a href="#">人气面膜</a>
							</li>
							<li>
								<a href="#">充值</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		<div class="container-fluid">
        <div id="gouwuche">
			<table class="table">
			    <div class="table-responsive">
                    <table class="table">
                        <tr>
                    	    <td></td>                  
                    	    <td>图片</td>                   
                         	<td>商品名称</td>                   
                        	<td>分类</td>                   
                        	<td>品牌</td>                   
                        	<td>价格</td>                   
                        	<td>删除</td>
                        </tr>
                        <tr>
                        	<td><input type="checkbox" name="rudang"/></td>                  
                        	<td><img width="25%" height="25%" src="img/2345_image_file_copy_1.jpg"></td>                   
                        	<td>【2件装】SHISEIDO 资生堂 UNO 男士洗面奶 黑炭控油型 130克</td>                   
                        	<td>化妆品</td>                   
                        	<td>SHISEIDO 资生堂</td>                   
                        	<td>￥45</td>                   
                        	<td><img src="img/a删除.png" /></td>
                        </tr>
                        <tr>
                        	<td><input type="checkbox" name="rudang"/></td>                  
                        	<td><img width="25%" height="25%" src="img/2345_image_file_copy_2.jpg"></td>                   
                        	<td>【新人专享】LUSH 露诗小紅帽新生防脱洗发皂 55克</td>                   
                        	<td>化妆品</td>                   
                        	<td>LUSH 露诗</td>                   
                        	<td>￥49.9</td>                   
                        	<td><img src="img/a删除.png" /></td>
                        </tr>
                        <tr>
                        	<td><input type="checkbox" name="rudang"/></td>                  
                        	<td><img width="25%" height="25%" src="img/2345_image_file_copy_3.jpg"></td>                   
                        	<td>ROHTO 乐敦 VC渗透美白精华液 20毫升 祛痘印美白神器</td>                   
                        	<td>化妆品</td>                   
                        	<td>ROHTO 乐敦</td>                   
                          	<td>￥45</td>                   
                        	<td><img src="img/a删除.png" /></td>
                        </tr>
                    </table>
                </div>
		    </table>
		     
		   <div id="gouwuche2">
		    <table class="table">
			    <div class="table-responsive">
                    <table class="table">
                        <tr>
                        	<td><input type="checkbox" name="rudang"/>全选</td>                  
                        	<td><a href="#">删除</a></td>                   
                        	<td><a href="#">分享</a></td>                   
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td>已选0件</td>                   
                        	<td>合计：0.00</td>                   
                        	<td><button style="border-radius: 5px; background-color:#AA242E; color: white; font-size: 20px;">结算</button></td>
                        </tr>
		         	</table>
	            </div>
		    </table>
	    </div>
			
			
		</div>		
		<div class="container">	
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div id="dibu"><img width="100%" height="100%" src="img/底部.png" /></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1 col-xs-0"></div>
							<div class="col-md-2 col-sm-2 col-xs-12">
								<p class="foot1">品质保证</p>
								<p class="foot2">假一赔十</p>
								<p class="foot2">发票保障</p>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-12">
								<p class="foot1">新手指南</p>
								<p class="foot2">购物流程</p>
								<p class="foot2">支付方式</p>
								<p class="foot2">通关税费</p>
								<p class="foot2">常见问题</p>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-12">
								<p class="foot1">售后服务</p>
								<p class="foot2">退货政策</p>
								<p class="foot2">退货流程</p>
								<p class="foot2">退款说明</p>
								<p class="foot2">联系客服
							</div>
							<div class="col-md-2 col-sm-2 col-xs-12">
								<p class="foot1">物流配送</p>
								<p class="foot2">配送方式</p>
								<p class="foot2">配送服务</p>
								<p class="foot2">运费标准</p>
								<p class="foot2">物流跟踪
							</div>
							<div class="col-md-2 col-sm-2 col-xs-12">
								<p class="foot1">关于我们</p>
								<p class="foot2">联系我们</p>
								<p class="foot2">招商合作</p>
								<p class="foot2">销售联盟</p>
								<p class="foot2"> CEO邮箱</p>
							</div>
							<div class="col-md-1 col-sm-1 col-xs-0"></div>

							<div id="rightBox1" class="white">
								<a href="#"><span class="glyphicon glyphicon-user"></span></a>
							</div>
							<div id="rightBox2" class="white">
								<a href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
							</div>
							<div id="rightBox3" class="white">
								<a href="#"><span class="glyphicon glyphicon-heart-empty"></span></a>
							</div>
							<div id="rightBox4" class="white">
								<a href="#"><span class="glyphicon glyphicon-time"></span></a>
							</div>
							<div id="rightBox5" class="white">
								<a href="#"><span class="glyphicon glyphicon-comment"></span></a>
							</div>
</div>
							<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
							<script type="text/javascript" src="js/bootstrap.js"></script>
	</body>
        </div>
</html>