<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>全球<span class="glyphicon glyphicon-globe"></span>代购</title>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/zhuye.css" />
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div id="top">
				<div class="col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-md-3 col-sm-3 col-xs-12 logo">全球<span class="glyphicon glyphicon-globe"></span>代购</div>
				<div class="col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-md-7 col-sm-7 col-xs-12">
					<form class="navbar-form navbar-left">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="请输入商品名称">
						</div>
						<button type="submit" class="btn btn-default">搜索</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<button type="submit" class="btn btn-default "><a href="gouwuche.html"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;购物车</button></a>
					</form>
				</div>
				<div class="col-md-1 col-sm-1 col-xs-1"></div>
				</div>
			</div>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
						<a class="navbar-brand" href="#">全部分类</a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active">
								<a href="#">首页<span class="sr-only">(current)</span></a>
							</li>
							<li>
								<a href="#">今日限时购</a>
							</li>
							<li>
								<a href="#">每日上新</a>
							</li>
							<li>
								<a href="#">国际馆</a>
							</li>
							<li>
								<a href="#">全球旗舰</a>
							</li>
							<li>
								<a href="#">工厂店</a>
							</li>
							<li>
								<a href="#">品质奶粉</a>
							</li>
							<li>
								<a href="#">人气面膜</a>
							</li>
							<li>
								<a href="#">充值</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="row">
				
				<div class="col-md-2 col-sm-3 col-xs-12">
			        <ul class="list-group">
                        <li class="list-group-item"><a href="#" style="text-decoration: none;"><span class="glyphicon glyphicon-baby-formula" ></span>&nbsp;母婴儿童<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                        <li class="list-group-item"><a href="#" style="text-decoration: none;"><span class="glyphicon glyphicon-user"></span>&nbsp;美妆彩妆<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                        <li class="list-group-item"><a href="#" style="text-decoration: none;"><span class="glyphicon glyphicon-leaf"></span>&nbsp;营养保健<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                        <li class="list-group-item"><a href="#" style="text-decoration: none;"><span class="glyphicon glyphicon-phone"></span>&nbsp;数码家电<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                        <li class="list-group-item"><a href="#" style="text-decoration: none;"><span class="glyphicon glyphicon-home"></span>&nbsp;运动户外<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                        <li class="list-group-item"><a href="#" style="text-decoration: none;"><span class="glyphicon glyphicon-education"></span>&nbsp;服饰谢靴<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                        <li class="list-group-item"><a href="#" style="text-decoration: none;"><span class="glyphicon glyphicon-sunglasses"></span>&nbsp;手表配饰<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                        <li class="list-group-item"><a href="#" style="text-decoration: none;"><span class="glyphicon glyphicon-cutlery"></span>&nbsp;环球美食<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                        <li class="list-group-item"><a href="#" style="text-decoration: none;"><span class="glyphicon glyphicon-lamp"></span>&nbsp;家居个护<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                    </ul>
			    </div>
			    <div class="col-md-10 col-sm-9 col-xs-12">
			    <!--<div class="jumbotron">
                    <img class="img-responsive"  src="img/主页广告.jpg" />
		    </div>-->
	             <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img  src="img/啊。广告3.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="img/啊。广告2.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="img/啊.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> 	    
		     </div>
		    <div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="hengfu"> 口碑爆款</div>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-1 col-sm-0 col-xs-0"></div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_1.jpg" />
						<p class="text1">【2件装】SHISEIDO 资生堂 UNO 男士洗面奶 黑炭控油型 130克</p>
						<p class="text2">清爽洁净皮脂污垢</p>
						<p class="text3">包邮</p>
						<p class="text3">￥45<a href="chanpinjieshao.html"><button type="submit" class="btn btn-default text4">立即购买</button></a></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_2.jpg" />
						<p class="text1">【新人专享】LUSH 露诗小紅帽新生防脱洗发皂 55克</p>
						<p class="text2">滋补头皮，调整油脂分泌</p>
						<p class="text3">包邮</p>
						<p class="text3">￥49.9<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_3.jpg" />
						<p class="text1">ROHTO 乐敦 VC渗透美白精华液 20毫升 祛痘印美白神器</p>
						<p class="text2">祛痘印美白神器</p>
						<p class="text3">包邮</p>
						<p class="text3">￥45<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_4.jpg" />
						<p class="text1">SNP 海洋燕窝高倍补水美白面膜 25毫升/片10片装 拒绝干燥肌</p>
						<p class="text2">Beautiful Days热推</p>
						<p class="text3">包邮</p>
						<p class="text3">￥69<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_5.jpg" />
						<p class="text1">BIODERMA 贝德玛 舒妍多效卸妆水 500毫升 粉水 中干皮肤用</p>
						<p class="text2">敏感肌推荐温和卸妆</p>
						<p class="text3">包邮</p>
						<p class="text3">￥82<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-1 col-sm-0 col-xs-0"></div>
		   </div>
		    
		   
		   <div class="row">
				<div class="col-md-1 col-sm-0 col-xs-0"></div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_6.jpg" />
						<p class="text1">SHISEIDO 资生堂 洗颜专科 超柔密泡泡洗面乳 120克/支 3支装</p>
						<p class="text2">温和配方，温柔呵护肌肤</p>
						<p class="text3">包邮</p>
						<p class="text3">￥69<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_7.jpg" />
						<p class="text1">【澳洲本土版】Devondale 德运 高钙脱脂成人牛奶粉 1000克/袋</p>
						<p class="text2">澳洲成年人补钙专用</p>
						<p class="text3">包邮</p>
						<p class="text3">￥49.9<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_8.jpg" />
						<p class="text1">It'S SKIN 伊思 晶钻美肌蜗牛修复洗面奶 150毫升 泡沫细腻不拔干</p>
						<p class="text2">泡沫细腻不拔干</p>
						<p class="text3">包邮</p>
						<p class="text3">￥49.9<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_9.jpg" />
						<p class="text1">佑天兰 蜂蜜黄金果冻面膜+胶原蛋白黄金果冻面膜+玻尿酸黄金果冻面膜</p>
						<p class="text2">让肌肤“童颜化”</p>
						<p class="text3">包邮</p>
						<p class="text3">￥99<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_10.jpg" />
						<p class="text1">LA ROCHE-POSAY 理肤泉 B5痘印伤疤舒缓修复霜 100毫升</p>
						<p class="text2">镇定修复祛痘印</p>
						<p class="text3">包邮</p>
						<p class="text3">￥64.9<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-1 col-sm-0 col-xs-0"></div>
		   </div>
		   
		   
		   
		   <div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="hengfu"> 9.9元起包邮</div>
				</div>
			</div>	
		    <div class="row">
				<div class="col-md-1 col-sm-0 col-xs-0"></div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_11.jpg" />
						<p class="text1">【新人专享】Gerber 嘉宝 大米米糊 美国大米 一段 227克</p>
						<p class="text2">美国进口 天然米糊</p>
						<p class="text3">包邮</p>
						<p class="text3">￥12.9<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_14.jpg" />
						<p class="text1">【2件装】SHISEIDO 资生堂 UNO 男士洗面奶 磨砂清凉型 蓝色 130克</p>
						<p class="text2">磨砂去角质洗后清新爽快</p>
						<p class="text3">包邮</p>
						<p class="text3">￥45<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_16.jpg" />
						<p class="text1">6支装 MEDIAN 麦迪安 专业清除86%牙结石美白牙膏 青柠薄荷味 </p>
						<p class="text2">强效去牙垢牙齿焕白新生</p>
						<p class="text3">包邮</p>
						<p class="text3">￥45.9<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_17.jpg" />
						<p class="text1">韩国品牌 B&B 保宁 婴幼儿洗衣液补充装 2100毫升</p>
						<p class="text2">呵护宝宝每一寸肌肤</p>
						<p class="text3">包邮</p>
						<p class="text3">￥25<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_18.jpg" />
						<p class="text1">【新人专享】B&B 保宁 婴儿洗衣皂 洋槐香 200克/块 3块装</p>
						<p class="text2">呵护宝宝每一寸肌肤</p>
						<p class="text3">包邮</p>
						<p class="text3">￥19.9<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-1 col-sm-0 col-xs-0"></div>
		   </div>
		    
		   
		   <div class="row">
				<div class="col-md-1 col-sm-0 col-xs-0"></div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_19.jpg" />
						<p class="text1">SHISEIDO 资生堂 洗颜专科 超柔密泡泡洗面乳 120克/支 3支装</p>
						<p class="text2">润唇祛痘修复</p>
						<p class="text3">包邮</p>
						<p class="text3">￥46<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_20.jpg" />
						<p class="text1">【新人专享】Gerber 嘉宝混合水果味酸奶小溶溶豆 宝宝零食 28</p>
						<p class="text2">均衡营养 宝宝健康成长</p>
						<p class="text3">包邮</p>
						<p class="text3">￥10.9<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_21.jpg" />
						<p class="text1">【新人专享】森田药妆 三重玻尿酸复合原液面膜 10片/盒</p>
						<p class="text2">补水白嫩肌肤立现</p>
						<p class="text3">包邮</p>
						<p class="text3">￥48<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_22.jpg" />
						<p class="text1">费雪 声光安抚海马 蓝色 婴幼儿胎教毛绒玩具 </p>
						<p class="text2">宝宝玩耍和睡觉的绝佳伙伴</p>
						<p class="text3">包邮</p>
						<p class="text3">￥59<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_23.jpg" />
						<p class="text1">SHISEIDO 资生堂 可悠然 美肌沐浴露（恬静清香）550毫升</p>
						<p class="text2">不止清洁更是护肤</p>
						<p class="text3">包邮</p>
						<p class="text3">￥45.9<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-1 col-sm-0 col-xs-0"></div>
		   </div>
		   
		   <div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="hengfu"> 99元任选4件</div>
				</div>
			</div>	
		    <div class="row">
				<div class="col-md-1 col-sm-0 col-xs-0"></div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_24.jpg" />
						<p class="text1">  ACQUA ALLE ROSE 玫瑰爽肤水 300毫升</p>
						<p class="text2">满满胶原蛋白，还你婴儿肌</p>
						<p class="text3">包邮</p>
						<p class="text3">￥48<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_25.jpg" />
						<p class="text1"> 英国品牌  Boots 博姿 天然小黄瓜保湿乳液 150毫升</p>
						<p class="text2">博姿护肤品天然效果好</p>
						<p class="text3">包邮</p>
						<p class="text3">￥45<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_26.jpg" />
						<p class="text1">英国品牌 Boots 博姿 天然小黄瓜面霜晚霜 100毫升 </p>
						<p class="text2">博姿护肤品天然效果好</p>
						<p class="text3">包邮</p>
						<p class="text3">￥38<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_27.jpg" />
						<p class="text1">日本 |  LOSHI 北海道马油面霜 220克</p><br />
						<p class="text2">多效保湿，平价好用</p>
						<p class="text3">包邮</p>
						<p class="text3">￥35<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_28.jpg" />
						<p class="text1">Boots 博姿 天然小黄瓜洗面奶 150毫升</p><br />
						<p class="text2">博姿护肤品天然效果好</p>
						<p class="text3">包邮</p>
						<p class="text3">￥19.9<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-1 col-sm-0 col-xs-0"></div>
		   </div>
		    
		   
		   <div class="row">
				<div class="col-md-1 col-sm-0 col-xs-0"></div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_29.jpg" />
						<p class="text1">KOSE 高丝 婴儿肌玻尿酸保湿面膜 7片</p><br />
						<p class="text2">修复美白</p>
						<p class="text3">包邮</p>
						<p class="text3">￥32<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_30.jpg" />
						<p class="text1">Boots 博姿 天然小黄瓜爽肤水 150毫升</p><br />
						<p class="text2">博姿护肤品天然效果好</p>
						<p class="text3">包邮</p>
						<p class="text3">￥29<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_31.jpg" />
						<p class="text1">Daiso 大创 胎盘素药用美白化妆水 120毫升</p><br />
						<p class="text2">补水滋润控油亮白</p>
						<p class="text3">包邮</p>
						<p class="text3">￥30<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_32.jpg" />
						<p class="text1">MUJI 无印良品 天然化妆棉 189枚 </p><br />
						<p class="text2">化妆必备神器</p>
						<p class="text3">包邮</p>
						<p class="text3">￥27<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-12 col-xs-12">
					<div class="pic"> 
						<img width="100%" height="100%" src="img/2345_image_file_copy_33.jpg" />
						<p class="text1">unicharm 尤妮佳 Silcot省1/2化妆水化妆棉 40枚</p><br />
						<p class="text2">省水1/2 超人气化妆棉</p>
						<p class="text3">包邮</p>
						<p class="text3">￥25<button type="submit" class="btn btn-default text4">立即购买</button></p>
					</div>
				</div>
				<div class="col-md-1 col-sm-0 col-xs-0"></div>
		   </div>
		 
		    <div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div id="dibu"><img width="100%" height="100%" src="img/底部.png" /></div>
				</div>
			</div> 
		 
		 
		 <div class="row">
				<div class="col-md-1 col-sm-1 col-xs-0"></div>
				<div class="col-md-2 col-sm-2 col-xs-12">
					<p class="foot1">品质保证</p> 
					<p class="foot2">假一赔十</p> 
					<p class="foot2">发票保障</p> 
				</div> 
				<div class="col-md-2 col-sm-2 col-xs-12">
					<p class="foot1">新手指南</p> 
                    <p class="foot2">购物流程</p> 
                    <p class="foot2">支付方式</p> 
                    <p class="foot2">通关税费</p> 
                    <p class="foot2">常见问题</p> 
				</div> 
				<div class="col-md-2 col-sm-2 col-xs-12">
					<p class="foot1">售后服务</p> 
                    <p class="foot2">退货政策</p> 
                    <p class="foot2">退货流程</p> 
                    <p class="foot2">退款说明</p> 
                    <p class="foot2">联系客服
				</div> 
				<div class="col-md-2 col-sm-2 col-xs-12">
					<p class="foot1">物流配送</p> 
                    <p class="foot2">配送方式</p> 
                    <p class="foot2">配送服务</p> 
                    <p class="foot2">运费标准</p> 
                    <p class="foot2">物流跟踪
				</div> 
				<div class="col-md-2 col-sm-2 col-xs-12">
					<p class="foot1">关于我们</p> 
                    <p class="foot2">联系我们</p> 
                    <p class="foot2">招商合作</p> 
                    <p class="foot2">销售联盟</p> 
                   <p class="foot2"> CEO邮箱</p> 
				</div> 
				<div class="col-md-1 col-sm-1 col-xs-0"></div> 
		
		<div id="rightBox1" class="white"><a href="geren.html"><span class="glyphicon glyphicon-user"></span></a></div>
		<div id="rightBox2" class="white"><a href="gouwuche.html"><span class="glyphicon glyphicon-shopping-cart"></span></a></div>
	    <div id="rightBox3" class="white"><a href="#"><span class="glyphicon glyphicon-heart-empty"></span></a></div>
	    <div id="rightBox4" class="white"><a href="#"><span class="glyphicon glyphicon-time"></span></a></div>
	    <div id="rightBox5" class="white"><a href="#"><span class="glyphicon glyphicon-comment"></span></a></div>
	    
		
		
		<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
	</body>

</html>